.main-container {
    display: flex;
    flex-direction: column; 
    height: 100%;   
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;   
}

.sidebar {
    margin-top: 2px;
    flex: 1;
}

.content {
    flex: 3;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,.16);
    border: none;
    transition: all .3s ease-in-out;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
}

.content:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
}