<div class="main-sidebar">
    <li class="main-menu-item"></li>
    <li class="main-menu-item" routerLinkActive="main-menu-item-active">
        <a [routerLink]="['/gbs-inventory/dashboard']">
            <i class="material-icons main-item-valign">analytics</i>
            <span class="main-item-valign main-item-text">Dashboard</span>
        </a>
    </li>
    <li class="main-menu-item" routerLinkActive="main-menu-item-active">
        <a [routerLink]="['/gbs-inventory/enter-article']">
            <i class="material-icons main-item-valign">archive</i>
            <span class="main-item-valign main-item-text">Ingresar Activo</span>
        </a>
    </li>
    <li class="main-menu-item" routerLinkActive="main-menu-item-active">
        <a [routerLink]="['/gbs-inventory/search-article']">
            <i class="material-icons main-item-valign">search</i>
            <span class="main-item-valign main-item-text">Buscar Activo</span>
        </a>
    </li>
    <li class="main-menu-item" routerLinkActive="main-menu-item-active">
        <a [routerLink]="['/gbs-inventory/edit-article']">
            <i class="material-icons main-item-valign">create</i>
            <span class="main-item-valign main-item-text">Modificar Activo</span>
        </a>
    </li>
    <li class="main-menu-item" routerLinkActive="main-menu-item-active">
        <a [routerLink]="['/gbs-inventory/assign-article']">
            <i class="material-icons main-item-valign">assignment_ind</i>
            <span class="main-item-valign main-item-text">Asignar Activo</span>
        </a>
    </li>
</div>